/*************************
 ** Main element styles **
 *************************/

body {
    padding-top: 20px;
}

a:hover {
    cursor: pointer;
}

#content {
    position: relative;
}

#register-menu, #login-menu {
    width: 350px;
    padding: 15px;
}


/************************
 ** CSS3 Spinner Stuff **
 ************************/

.spinner {
    margin: 0 auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 8px;
    height: 8px;
    background-color: #D0D0D0;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/******************
 ** Status posts **
 ******************/

#status-posts {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
}

#status-posts hr {
    border-color: #DDD;
    margin-top: 5px;
}

.status-post-title {
    margin-bottom: 0;
}

.status-post-info {
    font-size: 80%;
    margin-top: 0;
}


/**************
 ** Comments **
 **************/

.comments-wrapper {
    margin-top: 20px;
}

.comments-show-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
}

.comments-spinner, .comments {
    display: none;
}

.comment {
    margin: 0px calc(10% + 10px) 10px 30px;
    padding: 5px 15px;
}

.comment-info {
    font-size: 80%;
}

.comments-textarea-spinner {
    display: none;
    width: calc(90% - 40px);
    margin-left: 30px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.comments-textarea-spinner > div {
    background-color: #BDBDBD;
}

.post-comment {
    position: relative;
}
.post-comment textarea {
    width: calc(90% - 40px);
    margin-left: 30px;
}
.post-comment input {
    width: 9%;
    position: absolute;
    right: 10px;
    bottom: 0;
}


/****************
 ** Categories **
 ****************/

#categories {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
}

#categories-title {
    margin-top: 0;
}

#categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#categories-list ul {
    margin-left: 20px;
}
#categories-list li {
    padding: 2px 0 2px 0;
}

#categories-list a {
    display: block;
    color: black;
    text-decoration: none;
}
#categories-list a.active {
    color: blue;
}
#categories-list a:hover, #categories-list a.active {
    font-weight: bold;
}


/**************
 ** Settings **
 *************/

#settings {
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-methods {
    padding-bottom: 10px;
}

.contact-method-table {

}

.contact-method {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.settings-category {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.settings-category-cell {
    text-align: center;
    vertical-align: middle;
}

.settings-category-checkbox {

}

#add-contact-methods {
    padding-top: 10px;
}

.add-contact-methods-form {

}

.new-contact-method-email {

}

.new-contact-method-phone-number {

}

.submit-new-contact-method {

}


/***********
 ** Icons **
 ***********/

.status-icon, .status-icon-small {
    display: inline-block;
    line-height: 100%;
    margin-right: 5px;
}
.status-icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}
.status-icon-small {
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}

/* Status 1 - green, ok */
.status-icon-status-1 {
    background-image: url("../img/circle_green.png");
}
/* Status 2 - yellow, issues */
.status-icon-status-2 {
    background-image: url("../img/circle_yellow.png");
}
/* Status 3 - red, failure */
.status-icon-status-3 {
    background-image: url("../img/circle_red.png");
}
/* Status 10 - grey, unknown status */
.status-icon-status-10 {
    background-image: url("../img/circle_grey.png");
}